<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>depreciationControl.lv</title>
    <link rel="icon" type="image/x-icon" href="{% static '/img/favicon.png' %}"/>
  </head>
  <body>
    <div class="container">
      <div class="row vh-100 d-flex justify-content-center align-items-center">
        <div class="col-10 mx-auto" id="registration">
          <h1 class="text-center" style="padding: 5%">
            Esiet sveicināti mašīnas detaļu nolietojuma izsekošanas rīkā!
          </h1>
          <form action= "login.html" method="post">
            {% csrf_token %}
            {% if message %} <div class = "text-center alert alert-info"> {{ message }} {%endif%}</div>
            <div class="col-12 text-center input-box">
              <div><label for="{{ form.email.id_for_label }}">E-pasts</label></div>
              <div> {{ form.email }}</div>
              <div><label for="{{ form.password.id_for_label }}">Parole</label></div>
              <div>{{ form.password }}</div>
            </div>
            <div class="col-12 text-center" style="padding-top: 2%">
              <button
                href="#"
                class="btn btn-dark text-uppercase login-btn"
                type="submit"
              >
                Pierakstīties
              </button>
              <div>
                <span
                  >Nav profila? <a href="register.html">Reģistrēties</a></span
                >
              </div>
            </div>
          </form>

          <div class="col-4 mx-auto text-center" style="padding-top: 5%">
            <a href="index.html">
              <img class="img-fluid" src="{% static 'img/logo.png' %}" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
<!-- border-success  -->
