<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Check car</title>


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    
  </head>
  <body style="background: linear-gradient(189.63deg, #FFFFFF 45.05%, #E4EBF5 100%); "> <!---height: 100vh; -->

    

    <div style="position: fixed; width: 100vw; background: #FFFFFF; height: 110px; border-bottom: 2px solid #000000;  z-index: 5;">

      <h1 class="text-start" style="display:inline-block; padding-left: 1vw; font: 2vw cormorant; padding-top: 2vh;">Sākums</h1>
      <h1 class="text-center" style="display:inline-block; padding-left: 2vw; font: 2vw cormorant;">Jaunumi</h1>
      <h1 class="text-end" style="display:inline-block; padding-left: 2vw; font: 2vw cormorant;" >Patēriņā kalkulātors</h1>
      <h1 class="text-end" style="display:inline-block; padding-left: 57vw; font: 2vw cormorant;" >Iziet</h1>

    </div>
    
    
    <img src="{% static 'img/logo.png' %}" alt="" class="text-center" style=" position: fixed; width:111px; height:100px;  z-index: 6; margin-left: 47.2vw; margin-right: auto;">
    <div id="newCarForm" class="row align-items-center justify-content-center border border-primary bg-white" style= "z-index: 3;position: fixed; margin : auto; top : 20%; left : 40% ;width: 400px; height : auto; padding-top : 15px;auto; padding-bottom : 15px;">
      <form action = "add_car" method = "post">
        {% csrf_token %}
        <div><label for="{{ new_car_form.manufacturer.id_for_label }}">Manufacturer </label></div>
        <div> {{new_car_form.manufacturer}} </div>
        <div><label for="{{ new_car_form.model.id_for_label }}">model </label></div>
        <div> {{new_car_form.model}} </div>
        <div><label for="{{ new_car_form.engineType.id_for_label }}">Fuel Type </label></div>
        <div> {{new_car_form.engineType}} </div>
        <div><label for="{{ new_car_form.engineVol.id_for_label }}">Engine Volume </label></div>
        <div> {{new_car_form.engineVol}} </div>
        <div><label for="{{ new_car_form.year.id_for_label }}">Year </label></div>
        <div> {{new_car_form.year}} </div>
        <div><label for="{{ new_car_form.lastCheck.id_for_label }}">Last check date </label></div>
        <div> {{new_car_form.lastCheck}} </div>
        <div><label for="{{ new_car_form.nextCheck.id_for_label }}">New check date </label></div>
        <div> {{new_car_form.nextCheck}} </div>
        <div><label for="{{ new_car_form.kilometrage.id_for_label }}">Kilometrage </label></div>
        <div> {{new_car_form.kilometrage}} </div>
        <button type = "submit">Add</button>
        <button type = "button" onclick= "$('#newCarForm').hide()">Cancel</button>
      </form>
    </div>

    <div id="updatePartForm" class="row align-items-center justify-content-center border border-primary bg-white" style= "z-index: 3;position: fixed; margin : auto; top : 20%; left : 40% ;width: 400px; height : 400px">
      <form action = "update" method = "post">
        {% csrf_token %}
        <div><label for="{{ update_form.newValue.id_for_label }}">New Value </label></div>
        <div> {{update_form.newValue}} </div>
        <div> {{update_form.partId}} </div>
        <div> {{update_form.carId}} </div>
        <div> {{update_form.updateAll}} </div>
        <button type = "submit">Update</button>
        <button type = "button" onclick= "$('#updatePartForm').hide()">Cancel</button>
      </form>
    </div>
    <div style="width: 100%; height: 110px; z-index: 2; "></div>
    
    
    <div style="position: fixed; width: 50vw; height: 100vh;  margin-top: 0px;  border-right: 2px solid #000000;  " > 
      
      <div style="padding-top: 3.5vh; padding-bottom: 0.08vh; padding-left: 4vw; font: 20px cormorant;">
        <p style="display:inline-block; padding-left: 1vw;">Automašīna</p>
        <p style="display:inline-block; padding-left: 16.5vw;" >Mašīnas modelis</p>
      </div>
      
      
      <div class="row" style="padding-left: 4vw; padding-right: 4vw;">
        <div class = "col-4">  
          {% for car in cars %}
          <div class="row" style="padding-left: 4vw; padding-right: 4vw;">
            <button class="col" id="car" data-carId = {{ car.pk }} style="background-color: #FFFFFF; border: 2px solid #000000; margin-left: 10px; margin-right: 10px; border-radius: 6px; height: 60px; text-align: center; ">
              {{ car.manufacturer }} : {{ car.model }}
            </button>
          </div>
          {% endfor %}
          <button onclick= "$('#newCarForm').show()" class="col-4" style="background-color: #99C4FF; border: 2px solid #000000; margin-left: 10px; margin-right: 10px; border-radius: 6px; height: 60px; text-align: center; ">
            Pievienot + 
          </button>
          </div>
          <div class = "col-4" > 
            {% for car in cars %}
              <div class = "car-data" data-carId = {{ car.pk }}>
                {% for key, value in car.main_info.items %}
                  {% if key != 'kilometrage' %}
                  <div style="border: 2px solid #000000; margin-left: 10px; margin-right: 10px; border-radius: 6px; text-align: center; padding-top: 15px;">
                    {{ key }} : {{ value }}
                  </div>
                  {% endif %}
                {% endfor %}
              </div>
            {% endfor %}
        </div>
            
      </div>

      </div>
      
    </div>


  <div style="width: 50%; height: 130vh; margin-left: 50%; ">
      {% comment %} TODO hide this if another car is choosen {% endcomment %}
    {% for car in cars %}
    <div class="car-data" data-carId = {{ car.pk }}>
      <div style="padding-top: 4vh; padding-bottom: 1vh; padding-left: 4vw; font: 20px cormorant;">Pēdējais odometra rādījums: </div>

        <div class="row" style="padding-left: 4vw; padding-right: 4vw;">
          <div class="col" style="border: 2px solid #000000; margin-left: 10px; margin-right: 10px; border-radius: 6px; height: 60px; text-align: center; padding-top: 15px;">
            {{ car.kilometrage}} km
          </div>
          <div class="col" style="border: 2px solid #000000; margin-left: 10px; margin-right: 10px; border-radius: 6px; height: 60px; text-align: center; padding-top: 15px;">
            {{ car.checkDate}}
          </div>
          <button onclick = "showUpdateForm({{ car.kilometrage}}, null, {{ car.pk }} , true)" class="col" style="border: 2px solid #000000; margin-left: 10px; margin-right: 10px; border-radius: 6px; height: 60px; text-align: center;  background-color: #99C4FF;">
            Atjaunināt + 
          </button>
          <div class="col-5" style=" margin-left: 10px; margin-right: 10px; border-radius: 6px; height: 60px; text-align: center; padding-top: 5px;">
          </div>
        </div>

        {% for part in car.get_car_parts %}
        <div style="padding-top: 4vh; padding-bottom: 1vh; padding-left: 4vw; font: 20px cormorant;"> {{part.typeId.typeName}}</div>

          <div class="row" style="padding-left: 4vw; padding-right: 4vw;">
            <div class="col-2">Current :</div>
            <div class="col-2">Maximum :</div>
          </div>
          <div class="row" style="padding-left: 4vw; padding-right: 4vw;">
            <div class="col" style="border: 2px solid #000000; margin-left: 10px; margin-right: 10px; border-radius: 6px; height: 60px; text-align: center; padding-top: 15px;">
              {{part.currentCondition}} {{part.typeId.conditionMeasurment}}
            </div>
            <div class="col" style="border: 2px solid #000000; margin-left: 10px; margin-right: 10px; border-radius: 6px; height: 60px; text-align: center; padding-top: 15px;">
              {{part.typeId.stockCondition}} {{part.typeId.conditionMeasurment}}
            </div>
            <button onclick = "showUpdateForm({{part.currentCondition}}, {{ part.pk }}, {{ car.pk }}, false)" class="col" style="border: 2px solid #000000; margin-left: 10px; margin-right: 10px; border-radius: 6px; height: 60px; text-align: center;  background-color: #99C4FF;">
              Atjaunināt + 
            </button>
            <div class="col-5" style=" margin-left: 10px; margin-right: 10px; border-radius: 6px; height: 60px; text-align: center; padding-top: 5px;">
          </div>
        </div>
        {% endfor %}

      </div>
      {% endfor %}
    </div>
  </div>

    
      <script type="text/javascript">
        $(document).ready(function() {
          $( "#updatePartForm" ).hide();
          $( "#newCarForm" ).hide();
          $(".car-data").hide()

          $( document ).on("click", "#car" , function(){
            carId = $(this).attr("data-carId")
            $(".car-data").not(this).hide()
            $("div.car-data[ data-carId != '" + carId + "']").hide()
            $("div.car-data[data-carId = '" + carId + "']").show()

            $("#car").not(this).removeClass("active")
            $(this).addClass("active")
          })
        })


        function showUpdateForm(currentValue, partId, carId, updateAll){
          $( "#updatePartForm" ).show();
          $( "#id_newValue").val(currentValue)
          $( "#id_partId").val(partId)
          $( "#id_carId").val(carId)
          $( "#id_updateAll").val(updateAll ? 1 : 0)
        }
                
      </script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>
</html>