<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title>depreciationControl.lv</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img
          src="img/logo.png"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">SĀKUMS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">JAUNUMI</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PATĒRIŅA KALKULĀTORS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">IZIET</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row vh-100 d-flex justify-content-center align-items-center">
        <div class="col-10 mx-auto">
          <h1 class="text-center">IZSTRĀDĀJUMĀ</h1>
          <div class="col-4 mx-auto text-center" style="padding-top: 5%">
            <a href="index.html">
              <img class="img-fluid" src="img/logo.png" alt=""
            /></a>
          </div>
        </div>
      </div>
    </div>

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
